:root {
    --main-color: #22B14C;
    --secondary-color: #23372C;
    --dark-color: #121619;
    --light-color: #FBFFFE;
    --border-width-default: 2px;
    --border-radius-default: 5px;
}
html {
    width: 100%;
    height: 90%;
    margin: auto;
    padding: 0;
    background: var(--main-color);
    color: var(--light-color);
    font-family: sans-serif;
    border-color: var(--secondary-color);
    border: 10px;
}
body {
    margin: 0;
    height: 100%;
    font-size: 16px;
}
footer {
    height: 15%;
    background-color: var(--secondary-color);
    text-align: center;
}
footer img {
    margin-top: 1%;
    height: 75%;
}
#options input {
    width: 100px;
    padding: 10px 10px;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--main-color);
    border: none;
    border-bottom: var(--border-width-default) solid var(--secondary-color);
    color: var(--light-color);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
#options input:focus {
    border-color: var(--light-color);
}
.buttonTransition {
    width: 100%;
    margin-top: 10px;
    background-color: var(--main-color);
    border-radius: var(--border-radius-default);
    border: var(--border-width-default) solid var(--secondary-color);
    color: var(--light-color);
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    outline: none;
}
.buttonTransition:hover {
    background-color: var(--secondary-color);
}
#title {
    width: 100%;
    color: var(--main-color);
    background-color: white;
}
#title img {
    display: block;
    max-width: 50%;
    height: auto;
    margin: auto;
}
#main {
    background-color: var(--main-color);
    width: 60%;
    height: 100%;
    float: left;
}
#options {
    width: 90%;
    margin: auto;
}
::-webkit-input-placeholder {
    color: var(--secondary-color);
}
#sidebar {
    margin-left: 60%;
    height: 100%;
    width: 35%;
}
#sidebar select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: var(--border-width-default);
    background-color: var(--light-color);
}
#sidebar input[type="text"] {
    width: 100%;
    padding: 10px 10px;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--main-color);
    border: none;
    border-bottom: var(--border-width-default) solid var(--secondary-color);
    color: var(--light-color);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
#sidebar input[type="text"]:focus {
    border-color: var(--light-color);
}
#player {
    margin: auto;
    width: 50%;
    padding-top: 5%;
}
