:root {
    --main-color: #0E6BA8;
    --secondary-color: #001427;
    --light-color: #ECF8F8;
    --border-width-default: 2px;
    --border-radius-default: 5px;
}
html {
    width: 100%;
    height: 40%;
    margin: auto;
    padding: 0;
    background: var(--main-color);
    color: var(--light-color);
    font-family: sans-serif;
    border-color: var(--secondary-color);
    border: 10px;
}
body {
    margin: 0;
    height: 100%;
    font-size: 16px;
}
#options input {
    width: 100px;
    padding: 12px 20px;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--main-color);
    border: none;
    border-bottom: var(--border-width-default) solid var(--secondary-color);
    color: var(--light-color);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
#options input:focus {
    border-color: var(--light-color);
}
button {
    background-color: var(--main-color);
    border-width: var(--border-width-default);
    border-radius: var(--border-radius-default);
    border-color: var(--secondary-color);
    color: var(--light-color);
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
button:hover {
    background-color: var(--secondary-color);
    color: var(--light-color);
}
#title {
    width: 100%;
    color: var(--main-color);
    background-color: white;
}
#title img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
#main {
    background-color: #0E6BA8;
    width: 60%;
    height: 100%;
    float: left;
}
#options {
    width: 90%;
    margin: auto;
}
#sidebar {
    margin-left: 60%;
    height: 100%;
    width: 35%;
}
#sidebar select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: var(--border-width-default);
    background-color: var(--light-color);
}
#sidebar input[type="text"] {
    width: 200px;
    padding: 10px 20px;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--main-color);
    border: none;
    border-bottom: var(--border-width-default) solid var(--secondary-color);
    color: var(--light-color);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
#sidebar input[type="text"]:focus {
    border-color: var(--light-color);
}
#sidebar .fileUpload {
    padding: 5px 10px;
    background: var(--main-color);
    border: var(--border-width-default);
    border-radius: var(--border-radius-default);
    border-color: var(--secondary-color);
    position: relative;
    color: var(--light-color);
    text-align: center;
    float: left;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
#sidebar .fileUpload:hover {
    background-color: var(--secondary-color);
    color: var(--light-color);
}
#player {
    margin: auto;
    width: 50%;
    padding-top: 5%;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
